<div layout="column">
    <div layout="column" layout-gt-md="row" ng-init="depot.init()">
        <!-- Card with sites available -->
        <md-card flex-gt-md="100">
            <md-toolbar class="layout-padding">
                <div class="md-toolbar-tools">
                    <md-icon class="md-avatar" md-font-icon>near_me</md-icon>
                    <h2 class="layout-padding"><span>{{depot.depot.name}}</span></h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-card-content>
                <md-list>
                    <md-list-item ng-click="depot.selectItem(item.id)" class="md-3-line"
                                  ng-repeat="item in depot.depot.itemsAndQuantity">
                        <md-icon class="md-avatar" md-font-icon>near_me</md-icon>
                        <div class="md-list-item-text" layout="column">
                           {{item}}
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="depot.addItem($event)" class="md-icon-button" title="Add new item" aria-label="Add new item">
                    <md-icon ng-class="md-48" md-font-icon>add_circle</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>