<div layout-gt-sm="row" ng-init="itemCtrl.init()">
    <div flex>
        <md-card>
            <md-toolbar class="layout-padding">
                <div class="md-toolbar-tools">
                    <md-icon md-font-icon="material-icons">radio_button_checked</md-icon>
                    <h2 class="layout-padding"><span>Items</span></h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-card-content>
                <md-input-container class="md-icon-float md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>Search</label>
                    <md-icon md-font-icon>search</md-icon>
                    <input ng-model="searchText" type="text">
                </md-input-container>
                <md-divider></md-divider>
                <md-list>
                    <md-list-item class="md-3-line"
                                  ng-repeat="thing in itemCtrl.items | filter: searchText"
                                  ng-class='{ "active": itemCtrl.selectedItem._id==thing._id}'
                                  ng-click="itemCtrl.selectItem(thing)">
                        <md-icon class="md-avatar" md-font-icon>radio_button_checked</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <p>Name: <b>{{thing.name}}</b></p>
                            <p>Description: <b>{{thing.description}}</b></p>
                            <p title="This amount is the total amount of this items spread across all depots">Total
                                Quantity: <b>{{thing.quantity}}</b></p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>

            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="depot.addItem($event)" class="md-icon-button" title="Add new item"
                           aria-label="Add new item">
                    <md-icon ng-class="md-48" md-font-icon>add_circle</md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <!-- The item section -->
    <div layout="column" flex ng-if="itemCtrl.selectedItem">
        <md-card flex>
            <md-toolbar class="layout-padding">
                <div class="md-toolbar-tools">
                    <md-icon class="md-avatar" md-font-icon>radio_button_checked</md-icon>
                    <h2 class="layout-padding"><span>{{itemCtrl.selectedItem.name}}</span></h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-card-content>
                <div>
                    <md-input-container>
                        <label>
                            Name
                        </label>
                        <input ng-model="itemCtrl.selectedItem.name">
                    </md-input-container>
                    <md-input-container>
                        <label>
                            Description
                        </label>
                        <input ng-model="itemCtrl.selectedItem.description">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <label>
                            Total Quantity
                        </label>
                        <input disabled type="number" ng-model="itemCtrl.selectedItem.quantity">
                    </md-input-container>
                </div>
            </md-card-content>


            <md-card-actions layout="row" layout-align="space-between center">
                <md-button  ng-click="itemCtrl.deleteItem($event)"
                            ng-disabled="itemCtrl.selectedItem.quantity != 0" class="md-icon-button"
                            title="Delete item (only possible if item does not exist in other depots"
                            aria-label="Delete item (only possible if item does not exist in other depots">
                    <md-icon ng-class="md-48" md-font-icon>delete</md-icon>
                </md-button>

                <md-button ng-click="itemCtrl.saveUpdatedItem($event)" class="md-icon-button" title="Save updated item"
                           aria-label="Save updated item">
                    <md-icon ng-class="md-48" md-font-icon>save</md-icon>
                </md-button>
            </md-card-actions>


        </md-card>

        <md-card>
            <md-toolbar class="layout-padding">
                <div class="md-toolbar-tools">
                    <md-icon class="md-avatar" md-font-icon>timeline</md-icon>
                    <h2 class="layout-padding"><span>History</span></h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-card-content>
                <div>
                    <div chart history="{{itemCtrl.selectedItem.history}}"></div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
