<div layout="column" flex="100" ng-init="user.init()">

    <md-card ng-if="main.isAdmin()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon>face</md-icon>
                <h2 class="layout-padding"><span>Users</span></h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <form name="users">
            <md-card-content class="layout-padding" layout="column">
                <md-list>
                    <md-subheader class="md-no-sticky">Assign depot to user</md-subheader>
                    <md-divider></md-divider>
                    <div ng-repeat="username in user.users">
                        <md-list-item class="md-2-line" ng-click="user.showDepotDialog($event,username._id)">
                        <md-icon>face</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <div layout="row">
                                <div flex-gt-md="20" flex="50" class="list-divider-item">
                                    <h3>{{username.username}}</h3>
                                    <span flex ng-if="username.depot">
                                        User is assigned to {{username.depot.name}}
                                    </span>
                                    <span flex ng-if="!username.depot && !username.admin">
                                        <i>User has no depot assigned</i>
                                    </span>
                                </div>


                            </div>
                        </div>
                        <md-divider></md-divider>
                        </md-list-item>
                    </div>
                </md-list>
            </md-card-content>

        </form>
    </md-card>

    <md-card ng-if="main.isAdmin()">
        <md-toolbar class="layout-padding">
            <div class="md-toolbar-tools">
                <h2>
                    <md-icon md-font-set="fa">&#xf234</md-icon>
                    <span>Register User</span></h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <form name="registerUser" novalidate>
            <md-card-content>
                <div>
                    <md-input-container class="md-accent">
                        <label>Username</label>
                        <input type="text" ng-model="login.registerUser.username" required>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-accent">
                        <label>Password</label>
                        <input type="password" ng-model="login.registerUser.password" minlength="5" required>
                    </md-input-container>
                </div>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end">
                <md-button type="submit" ng-disabled="registerUser.$invalid" ng-click="user.register($event,login.registerUser)"
                           class="md-accent md-raised">
                    Register User
                </md-button>
            </md-card-actions>
        </form>
    </md-card>


    <md-divider></md-divider>

    <md-card flex="100">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon>vpn_key</md-icon>
                <h2 class="layout-padding"><span>Change password</span></h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-card-content>
            <form name="changePasswordForm" layout="column">
                <md-input-container class="md-accent">
                    <label>Old password</label>
                    <input type="password" ng-model="user.oldPassword" required>
                </md-input-container>


                <md-input-container class="md-accent">
                    <label>New password</label>
                    <input type="password" ng-model="user.newPassword" required>
                </md-input-container>


                <md-input-container class="md-accent">
                    <label>Repeat new password</label>
                    <input type="password" ng-model="user.repeatNewPassword" required>
                </md-input-container>

                <md-card-actions layout="row" layout-align="end">
                    <md-button ng-disabled="changePasswordForm.$invalid"
                               ng-click="user.changePassword(user.oldPassword,user.newPassword,user.repeatNewPassword,$event)"
                               class="md-accent md-raised">Change password
                    </md-button>
                </md-card-actions>
            </form>

        </md-card-content>

    </md-card>


    <md-card flex="100">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon>email</md-icon>
                <h2 class="layout-padding"><span>Change email</span></h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="changeEmailForm" layout="column">
                <md-input-container class="md-accent">
                    <label>Current email</label>
                    <input disabled type="email" ng-model="user.email">
                </md-input-container>

                <md-input-container class="md-accent">
                    <label>New email</label>
                    <input type="email" ng-model="user.newEmail" required>
                </md-input-container>

                <md-input-container class="md-accent">
                    <label>Repeat new email</label>
                    <input type="email" ng-model="user.repeatNewEmail" required>
                </md-input-container>

                <md-card-actions layout="row" layout-align="end">
                    <md-button ng-disabled="changeEmailForm.$invalid"
                               ng-click="user.changeEmail(user.newEmail,user.repeatNewEmail,$event)"
                               class="md-accent md-raised">Change email
                    </md-button>
                </md-card-actions>
            </form>
        </md-card-content>
    </md-card>
</div>